@model PersonalData
@inject IStringLocalizer<SharedResources> SharedLocalizer

<div class="card border-dark mt-2">
    <div class="card-header">
        <span>@SharedLocalizer["PersonalData"] </span>
        @if (Model.Id > 0)
        {
    <a class="btn btn-sm btn-success pull-right" style="float: right;" asp-action="CreateOrEditPersonalData" asp-route-id="@Model.Id" asp-route-EmployeeId="@Model.EmployeeId"><i class="bi bi-pencil-square"></i>&nbsp;@SharedLocalizer["Edit"]</a>
        }
        else
        {
    <a class="btn btn-sm btn-success pull-right" style="float: right;" asp-action="CreateOrEditPersonalData" asp-route-id="0" asp-route-EmployeeId="@Model.EmployeeId"><i class="bi bi-plus-circle"></i>&nbsp;@SharedLocalizer["Create.New"] @SharedLocalizer["PersonalData"]</a>
        }
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card-body">
                @if (Model.Id > 0)
                {
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => Model.PhoneNumber)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => Model.PhoneNumber)
                        </dd>
                    </dl>
                }
            </div>

        </div>
        <div class="col-md-3">
            <img src="/uploads/@(Model.ImgUrl!=null?Model.ImgUrl:"avatar-male.jpg")" style="width:250px" alt="Picture">
        </div>
    </div>
</div>